:root {
    /* colors settings */
    --text: #E9EBED;
    --back-ground: linear-gradient(to right, #031B37, #022349,#012957,#003066);
    --primary: linear-gradient( to right,#164266,#3C5F7A);
    --secondary: rgba(91,104,128,0.2);
    --accent: #6EA3CC;
    /* fonts settings */
    --headings-font-family: "Roboto slab", Times, serif;
    --paragraphs-font-family: "Poppins", Arial, sans-serif;
    font-family: var(--paragraphs-font-family);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--back-ground);
}

/* navigation bar settings */
nav {
    margin-top: 1em;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}
nav ul {
    margin: 0;
    border-radius: 20px;
    padding: 0.5em;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    gap: 1em;
}
nav ul li {
    list-style-type: none;
    & a {
        text-decoration: none;
        color: var(--text);
    }
}

/* main sections settings */

/* hero section settings */

/* project section settings */

/* about me section settings */

/* FAQ section settings */

/* footer settings */

