:root {
    /* colors settings */
    --text: #E9EBED;
    --back-ground: linear-gradient(to right, #031B37, #022349,#012957,#003066);
    --primary: linear-gradient( to right,#164266,#3C5F7A);
    --secondary: rgba(91,104,128,0.2);
    --accent: #6EA3CC;
    /* fonts settings */
    --headings-font-family: "Roboto slab", Times, serif;
    --paragraphs-font-family: "Poppins", Arial, sans-serif;
    font-family: var(--paragraphs-font-family);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--back-ground);
}
