:root {
    /* colors settings */
    --text: #E9EBED;
    --background: linear-gradient(to right, #031B37, #022349,#012957,#003066);
    --primary: linear-gradient( to bottom left,#164266,#3C5F7A);
    --secondary: rgba(91,104,128,0.2);
    --accent: #6EA3CC;
    /* fonts settings */
    --headings-font-family: "Roboto slab", Times, serif;
    --paragraphs-font-family: "Poppins", Arial, sans-serif;
    font-family: var(--paragraphs-font-family);
}

/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--background);
    font-size: 1rem;
}
@media screen and (min-width: 600px ) {
    body {
        background: var(--background);
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 900px ) {
    body {
        background: var(--background);
        font-size: 2rem;
    }
}
@media screen and (min-width: 1200px ) {
    body {
        background: var(--background);
        font-size: 2.5rem;
    }
}
.highlight {
    color: var(--accent);
}
h1 {
    font-family: var(--headings-font-family);
    font-size: 2.5em;
}
p {
    font-family: var(--paragraphs-font-family);
    font-size: 1em;
}
button {
    font-size: 1em;
}

/* navigation bar settings */
nav {
    margin-top: 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}
nav ul {
    margin: 0;
    border-radius: 20px;
    padding: 0.5rem;
    padding-right: 0.1rem;
    background-color: var(--secondary);
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
nav ul li {
    list-style-type: none;
    & a {
        text-decoration: none;
        color: var(--text);
    }
    & a:hover {
        color: var(--accent); 
    }
}

nav ul :last-child { 
    & a {
        background-color: var(--accent);
        color: var(--text);
        border-radius: 20px;
        padding: 0.4rem;
    }
    & a:hover{
        background-color: var(--text);
        color: var(--accent);
    }
}
/* main sections settings */
main {
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
main section {
    border-radius: 20px;
    width: 100%;
}

/* hero section settings */
#hero-section {
    padding-top: 8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}
#hero-section #logo {
    width: 30vw;
    height: 30vw;
}
#hero-section p {
    padding: 0rem 3rem;
}

#hero-section .button-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & button {
        color: var(--text);
        margin-right: auto;
        margin-left: auto;
        height: 3em;
        width: 80%;
        background: var(--primary);
        border: none;
        border-radius: 10px;
    }
    & button:hover, button:focus {
        transform: translate(0, 5);
        transition: 0.2s ease-in-out;
        cursor: pointer;
        box-shadow: 0 5px 10px var(--accent);
    }
    & .secondary-btn {
        background: var(--secondary);
    }
}

.tech-slider {
    margin-top: 3em;
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
    & .tech-card-list { 
        display: flex;
        height: 100%;
        width: 100%;
        min-width: calc(var(--width) * var(--quantity));
        position: relative;
    }
}

.tech-slider .tech-card-list .tech-card {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite ;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1) );
    filter: opacity(20%);
    & img {
        width: 100%;
    }
}

@keyframes autoRun {
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}




/* project section settings */
#project-card-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.project-card {
    width: 90vw;
    height: 80vh;
    background-color: transparent;
    backdrop-filter: blur(50px);
    border: 5px solid var(--secondary);
    border-radius: 20px;
    position: sticky;
    top:5rem
}
.card-body {
    position: relative;
    top: 50%;
}

/* about me section settings */

/* FAQ section settings */

/* footer settings */

